.LiteNumber {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f3b918;
  padding: 30px 0 30px 0;
}

.LiteNumber-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin: 20px 100px 20px 100px;
  font-size: 23px;
  font-weight: bold;
}

.LiteNumber-item-spa {
  color: #FF8A00;
}

@media screen and (max-width: 600px) {
  .LiteNumber-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 20px 100px 20px 100px;
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width: 400px) {
  .LiteNumber-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 20px 100px 20px 100px;
    font-size: 12px;
    font-weight: bold;
  }
}