.procedure-main {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.procedure-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.procedure-box {
  padding: 50px;
  margin: 50px 20px 0 50px;
  background-color: #1a1c29;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  min-width: 200px;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  cursor: pointer;

}

.procedure-box:hover {
  /* background-color: #ddb13885; */
  /* color: black; */
  transition: transform .2s;
  transform: scale(1.1);
  border: 5px solid #ddb138fa;
}

.procedure-img {
  margin-bottom: 20px;
  /* width: 50px; */

}